{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<form method="post">

		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ logout_path() }}">Déconnexion</a>
			</div>
		{% endif %}

		<h1>Connexion</h1>

		<fieldset>
			<legend>Identifiants</legend>

			<div class="form-row">
				<label for="inputEmail">Email</label>
				<div>
					<input type="email" id="inputEmail" name="email" value="{{ last_username }}" autocomplete="email" required autofocus>
				</div>
			</div>

			<div class="form-row">
				<label for="inputPassword">Mot de passe</label>
				<div>
					<input type="password" id="inputPassword" name="password" autocomplete="current-password" required>
				</div>
			</div>

			<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
		</fieldset>

		<fieldset>
			<legend>Options</legend>

			<div class="form-row checkbox-row">
				<input type="checkbox" id="remember_me" name="_remember_me">
				<label for="remember_me">Se souvenir de moi</label>
			</div>
		</fieldset>

		<button type="submit">Se connecter</button>

	</form>

{% endblock %}
