<form method="get" action="{{ action|default('') }}" data-search-form="{{ action|default('') }}" data-dropdown-class="{{ dropdownClass|default('dropdown-results') }}" data-item-class="{{ itemClass|default('dropdown-item') }}" data-link-class="{{ linkClass|default('dropdown-link') }}" data-no-results-class="{{ noResultsClass|default('dropdown-no-results') }}" data-url-field="{{ urlField|default('url') }}" data-item-url="{{ itemUrl|default('') }}" {% if ajaxModal|default(false) %} data-ajax-modal {% endif %} class="fetch-form">

	<div class="form-row dropdown-wrapper">

		<input type="text" name="{{ name|default('q') }}" value="{{ value|default('') }}" placeholder="{{ placeholder|default('Rechercher...') }}" data-result-div="{{ resultDiv|default('results') }}" data-autocomplete="{{ autocomplete|default(false) ? 'true' : 'false' }}" data-default-suggestions="{{ defaultSuggestions|default(false) ? 'true' : 'false' }}" data-highlight="{{ highlight|default(false) ? 'true' : 'false' }}"/>

		<button type="button" class="search-toggle-btn" data-search-toggle>
			🔍
		</button>

		<div id="{{ resultDiv|default('results') }}" class="{{ dropdownClass|default('dropdown-results') }}" data-pagination="{{ pagination|default(false) ? 'ajax' : '' }}" data-pagination-mode="{{ paginationMode|default('load-more') }}" data-pagination-limit="{{ paginationLimit|default(10) }}"></div>

	</div>

</form>
