<h3>{{title}}</h1>
{{ form_start(form, { attr: { 'data-ajax-form': true } }) }}

<div class="form-row">
    {{ form_row(form.brand) }}
    {{ form_row(form.bodyType) }}
    {{ form_errors(form) }}
</div>

<div class="form-row">
    {{ form_row(form.model) }}
    {{ form_errors(form) }}
</div>

<div class="form-row">
    {{ form_row(form.variant) }}
    {{ form_errors(form) }}
    {{ form_row(form.homologationDate) }}
    {{ form_errors(form) }}
</div>

<div class="form-row">
    {{ form_row(form.fuelType) }}
    {{ form_errors(form) }}
    {{ form_row(form.gear) }}
    {{ form_errors(form) }}
</div>

<div class="form-row">
    {{ form_row(form.powerHp) }}
    {{ form_errors(form) }}
    {{ form_row(form.powerFiscal) }}
    {{ form_errors(form) }}
    {{ form_row(form.consumption) }}
    {{ form_errors(form) }}
</div>

<div class="form-row">
    {{ form_row(form.massMin) }}
    {{ form_errors(form) }}
    {{ form_row(form.massMax) }}
    {{ form_errors(form) }}
    {{ form_row(form.co2) }}
    {{ form_errors(form) }}
</div>

<div class="form-row">
    {{ form_row(form.cnit) }}
    {{ form_errors(form) }}
</div>

<div class="form-row">
    {{ form_row(form.utacCode) }}
    {{ form_errors(form) }}
</div>

<div class="form-row">
    {{ form_row(form.euroNorm) }}
    {{ form_errors(form) }}
</div>


<button type="submit">
    <i class="fa-solid fa-download"></i> Enregistrer
</button>

{{ form_end(form) }}

